body {
    background-color: #f0f0f0;
}

header h1 {
    color: #2e99a9;
    font-size: 50px;
    font-weight: bold;
}

.selection a {
    font-size: 20px;
    font-weight: bold;
}

.event {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.event h2 {
    background-color: #20B2AA;
    text-align: center; 
    padding: 10px;
    color: #fff;
}

.icon img {
    width: 50px;
}

img {
    width: 800px;
    margin-bottom:5px;
    margin-left: auto;
    margin-right: auto;
}

 .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  .panel-body {
    overflow-y: scroll;
    height: 350px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }